
.App {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 1em;
  row-gap: 1em;
  padding: 5% 3%;
}

.card{
  border: solid 1px #000;
  padding: 0px 15px;
}

.card img{
  display: block;
  max-width: 100%;
}

.formulario{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
}
